* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    /* max-width: 100%; */
}

html{
    /* height: 2000px; */
    scroll-behavior: smooth;
}
.header-font{
    font-family: 'Volkhov', serif;
}
.header-color{
    color: #fb811e;
}
.farm-button{
    background-color: #fb811e ;
    color: white;
    border-radius: 28px;
    padding: 12px 28px;
    border: none;
    transition: .3s;
}
.farm-button:hover{
    background-color: #009f4d;
}
.icon-white{
    /* color: white; */
}
/* header start */
#page-header{
    transition: 0.4s;
}
.header_contain{
    padding: 12px 0;
}
.header_left{
    position: relative;
}
.header-left:hover{
    color: #000;
}

.header_left a{
    font-size: 2rem;
    text-decoration: none;
}
.header_left i{
    position: absolute;
    top: 0;
    left: 55px;
    font-size: 20px;
}
.header_right{
    font-size: 1.4rem;
}
.search_item:hover{
    width: 140px;
    border-radius: 8px;
    cursor: pointer;
}
.search_item{
    position: relative;
    width: 33px;
    height: 33px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    transition: 0.5s;
}
.search_item i{
    right: 6px;
    height: 100%;
    position: absolute;
    font-size: 18px;
    line-height: 1.6;
}
.night_mode{
    cursor: pointer;
}
.header__content{
}
.header__content-left{
    left: 140px;
    z-index: 1;
    position: relative;
}
.header__content-left p{
    font-size: 17px;
}
#farm-menu i{
    font-size: 1.5rem;
    /* color: white; */
}
.header__content .carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.header__content .carousel-control-next-icon,
.carousel-control-prev-icon{
    display: none;
}
.container-fluid{
    padding: 0;
    overflow: hidden;
}
.header__content .carousel-item{
    position: relative;
}

.header__content .carousel-item img{
    border-radius: 0 0 0 20px;
    filter: brightness(80%);
}
.header__overlay{
    font-size: 90px;
    position: absolute;
    opacity: 0.15;
    top: -60px;
    left: -36px;
    font-family: 'Volkhov', serif;
    font-weight: bold;
}
.image__label{
    position: absolute;
    right: 30px;
    bottom: 50px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*  header end */
.image__label h3{
    font-size: 30px;
}
.image__label p{
    font-size: 16px;
}
/* features start */
.features__left{

}
.features__left h5{
    font-size: 22px;
}
.features__left h3{
    font-size: 40px;
}
.features__left p{
    font-size: 17px;
}
.features__right-item .item__content:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.features__right-item .item__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    transition: .3s;
}
.features__right-item .item__link a:hover{
    color: #009f4d !important;
}
.features__right-item .item__link a{
    transition: .3s;
    text-decoration: none;
    font-size: 20px;
    /* z-index: 1; */
}
.features__right-item .item__img img{
    max-width: 65px;
}
/* features end */

/* services start */
#services{
    background-color: #009f4d;
    /* overflow: hidden; */
}
.header__services-overlay{
    position: absolute;
    left: 0;
    right: 0;
}
.header__services-overlay h2{
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    color: #fff;
    opacity: .14;
}
.header__left h5{
    font-size: 22px;
}
.header__left h3{
    font-size: 40px;
}
.header__right{
    display: flex;
    align-items: center;
}
.header__right p{
    font-size: 20px;
    font-weight: lighter;
}
.content__item .item__box img{
    border-radius: 16px 16px 0 0;
}
.content__item .item__content{
    border-radius: 0 0 16px 16px;
}
.content__item .item__label{
    display: inline;
    border-radius: 12px;
    background: rgb(0 159 77 / 16%);
    padding: 8px 16px;
}
.item__content h4:hover{
    color: #009f4d;
}
.item__content h4{
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
}
/* services end */

/* about start */
.left__top h2{
    font-size: 2.5rem;
}
.left__bottom .bottom-icon{
    font-size: 1.6rem;
}

.about__right img{
    border-radius: 24px;
}
.about__exp{
    position: absolute;
    background-color: #fb811e;
    bottom: 30px;
    left: -30px;
    border-radius:  0 0 100px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.about__exp-box h2{
    font-size: 4.375rem;
    font-weight: bold;
}
/* about__item */
.item__link-box:hover{
    border: 0.2px solid #ccc;
    transition: .7s;
}
.item__link-box:hover .link-box__right h4{
    color: #009f4d;
    transition: .3s;
}
.item__link-box{
    border-radius: 10px;
    cursor: pointer;
}
.item__link-box img{
    height: 60px;
}

/* about end */

/* gallery start */
.gallery__item-info{
    position: absolute;
    bottom: 20px;
    right:30px;
    left:30px;
    background: rgb(255 255 255 / 27%);
    /* background: #ccc; */
    /* padding: 0 40px; */
}
.gallery__item{
    overflow: hidden;
    position: relative;
    margin: 0;
    cursor: pointer;
}
.gallery__item::before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-17deg);
    /* z-index: -1; */
    /* transform: translateX(100%); */
}
.gallery__item:hover::before{
    animation: shine .95s;
}
/* gallery end */

/* testimonial start */
#testimonial {
    background-image: url(../img/bg1.jpg);
}
#testimonial .carousel-control-next-icon,
.carousel-control-prev-icon{
    display: none;
}
#testimonial .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.testi-cus img{
    border-radius: 50%;
}
.testi__content{
    display: flex !important;
    justify-content: center;
    /* max-width: 60%; */
}
/* testimonial end */


/* footer start */


.footer__left .content ul{
    list-style: none;
}
.footer__left .content li{
    font-size: 1rem;
    margin: 10px 0;
}
.footer__center-content a:hover{
    color: #000;
}
.footer__center-content a:hover .footer-leaf{
    color: #000 !important;
}
.footer__center-content a{
    font-size: 2rem;
    text-decoration: none;
}
.footer__center-content i{
    position: absolute;
    right: 50%;
}
.contact__item:hover{
    color: #fb811e;
    background: rgb(255 201 69 / 19%);
}
.contact__item{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgb(10 191 83 / 8%);
    color: #009f4d;
    text-align: center;
    transition: .3s;
}
.contact__item i{
    line-height: 2;
}
/* footer end */

@keyframes shine{
    100%{
        left: 125%;
    }
}

