* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  /* max-width: 100%; */
  /* max-width: 100%; */
}

html {
  scroll-behavior: smooth;
}
body {
  /* overflow: hidden; */
}
.header-font {
  font-family: "Volkhov", serif;
}
.header-color {
  color: #fb811e;
}
.farm-button {
  background-color: #fb811e;
  color: white;
  border-radius: 28px;
  padding: 12px 28px;
  border: none;
  transition: 0.3s;
}
.farm-button:hover {
  background-color: #009f4d;
}
.icon-white {
  /* color: white; */
}

/* header start */
#page-header {
  transition: 0.4s;
}
.header_contain {
  padding: 12px 0;
  max-width: 100%;
}
.header_left {
  position: relative;
}
.header-left:hover {
  color: #000;
}

.header_left a {
  font-size: 2rem;
  text-decoration: none;
}
.header_left i {
  position: absolute;
  top: 0;
  left: 30%;
  font-size: 1.25rem;
}
.header_right {
  font-size: 1.4rem;
}
.search_item:hover {
  width: 140px;
  border-radius: 8px;
  cursor: pointer;
}
.search_item {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  transition: 0.5s;
}
.search_item i {
  right: 0.375rem;
  height: 100%;
  position: absolute;
  font-size: 1.125rem;
  line-height: 1.6;
}
.night_mode {
  cursor: pointer;
}
.header__content {
}
.header__content-left {
  left: 140px;
  z-index: 1;
  position: relative;
}
.header__content-left p {
  font-size: 1.0625rem;
}
#farm-menu i {
  font-size: 1.5rem;
  /* color: white; */
}
.header__content .carousel-indicators li {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.header__content .carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}
.container-fluid {
  padding: 0;
  overflow: hidden;
}
.header__content .carousel-item {
  position: relative;
}

.header__content .carousel-item img {
  border-radius: 0 0 0 20px;
  filter: brightness(80%);
}
.header__overlay {
  font-size: 5.625rem;
  position: absolute;
  opacity: 0.15;
  top: -20%;
  left: -10%;
  font-family: "Volkhov", serif;
  font-weight: bold;
}
.image__label {
  position: absolute;
  right: 30px;
  bottom: 50px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*  header end */
.image__label h3 {
  font-size: 1.875rem;
}
.image__label p {
  font-size: 1rem;
}
/* features start */
.features__left {
}
.features__left h5 {
  font-size: 1.375rem;
}
.features__left h3 {
  font-size: 2.5rem;
}
.features__left p {
  font-size: 1.0625rem;
}
.features__right-item .item__content:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.features__right-item .item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  transition: 0.3s;
}
.features__right-item .item__link a:hover {
  color: #009f4d !important;
}
.features__right-item .item__link a {
  transition: 0.3s;
  text-decoration: none;
  font-size: 1.25rem;
  /* z-index: 1; */
}
.features__right-item .item__img img {
  max-width: 65px;
}
/* features end */

/* services start */
#services {
  background-color: #009f4d;
  /* overflow: hidden; */
}
.header__services-overlay {
  position: absolute;
  left: 0;
  right: 0;
}
.header__services-overlay h2 {
  text-align: center;
  font-size: 7.5rem;
  font-weight: bold;
  color: #fff;
  opacity: 0.14;
}
.header__left h5 {
  font-size: 1.375rem;
}
.header__left h3 {
  font-size: 2.5rem;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__right p {
  font-size: 1.25rem;
  font-weight: lighter;
}
.content__item .item__box img {
  border-radius: 16px 16px 0 0;
}
.content__item .item__content {
  border-radius: 0 0 16px 16px;
}
.content__item .item__label {
  display: inline;
  border-radius: 12px;
  background: rgb(0 159 77 / 16%);
  padding: 8px 16px;
}
.item__content h4:hover {
  color: #009f4d;
}
.item__content h4 {
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}
/* services end */

/* about start */
.left__top h2 {
  font-size: 2.5rem;
}
.left__bottom .bottom-icon {
  font-size: 1.6rem;
}

.about__right img {
  border-radius: 24px;
}
.about__exp {
  position: absolute;
  background-color: #fb811e;
  bottom: 30px;
  left: -30px;
  border-radius: 0 0 100px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.about__exp-box h2 {
  font-size: 4.375rem;
  font-weight: bold;
}
/* about__item */
.item__link-box:hover {
  border: 0.2px solid #ccc;
  transition: 0.7s;
}
.item__link-box:hover .link-box__right h4 {
  color: #009f4d;
  transition: 0.3s;
}
.item__link-box {
  border-radius: 10px;
  cursor: pointer;
}
.item__link-box img {
  height: 60px;
}

/* about end */

/* gallery start */
.gallery__item-info {
  position: absolute;
  bottom: 20px;
  right: 30px;
  left: 30px;
  background: rgb(255 255 255 / 27%);
  /* background: #ccc; */
  /* padding: 0 40px; */
}
.gallery__item {
  overflow: hidden;
  position: relative;
  margin: 0;
  cursor: pointer;
}
.gallery__item::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-17deg);
  /* z-index: -1; */
  /* transform: translateX(100%); */
}
.gallery__item:hover::before {
  animation: shine 0.95s;
}
/* gallery end */

/* testimonial start */
#testimonial {
  background-image: url(../img/bg1.jpg);
}
#testimonial .carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}
#testimonial .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.testi-cus img {
  border-radius: 50%;
}
.testi__content {
  display: flex !important;
  justify-content: center;
  /* max-width: 60%; */
}
/* testimonial end */

/* footer start */

.footer__left .content ul {
  list-style: none;
}
.footer__left .content li {
  font-size: 1rem;
  margin: 10px 0;
}
.footer__center-content a:hover {
  color: #000;
}
.footer__center-content a:hover .footer-leaf {
  color: #000 !important;
}
.footer__center-content a {
  font-size: 2rem;
  text-decoration: none;
}
.footer__center-content i {
  position: absolute;
  right: 50%;
}
.contact__item:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
}
.contact__item {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background: rgb(10 191 83 / 8%);
  color: #009f4d;
  text-align: center;
  transition: 0.3s;
}
.contact__item i {
  line-height: 2;
}
/* footer end */

@keyframes shine {
  100% {
    left: 125%;
  }
}

/* responsive */
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  html {
    font-size: 10px;
  }
  #page-header {
    padding: 0;
    width: 100%;
  }
  #farm-night {
    color: #000 !important;
  }
  .header__content {
    position: relative;
  }
  .header__content-left {
    position: absolute;
    top: 70px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
  }
  .header__content-left .left__wrap {
    padding: 50px 40px 40px 40px;
  }
  .header__content-left h1 {
  }
  .header__overlay {
    top: 6%;
    left: 8%;
  }
  .header_button {
    margin-top: 0 !important;
  }
  .carousel-item {
  }
  .header__content-right {
    /* margin-right:0 !important ; */
  }
  .content__item {
    padding: 1rem 2rem;
  }
  .gallery__header {
    padding: 2rem 1rem 0 2rem;
  }
  .gallery__item img {
    /* height: 100px; */
    object-fit: contain;
  }
  .testi__content {
    flex-direction: column;
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* PC: width >= 1024px */
@media only screen and (min-width: 64em) {
}
